    <!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Admin Test Form</title>
    </head>
    <body>

    <h2>Admin 등록 테스트</h2>

    <form th:action="@{/admin/join}" th:object="${admin}" method="post">
        <div>
            <label>Login ID</label>
            <input type="text" th:field="*{login_id}">
        </div>

        <br>

        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}">
        </div>

        <br>

        <div>
            <label>Department</label>

            <select th:field="*{department}">
                <option value="">부서 선택</option>

                <option value="상품">상품</option>
                <option value="외환">외환</option>
                <option value="전체">전체</option>
            </select>
        </div>

        <br>

        <div>
            <label>Admin PW</label>
            <input type="number" th:field="*{admin_pw}">
        </div>

        <br>

        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>

        <br>

        <div>
            <label>Admin Role</label>

            <select th:field="*{admin_role}">
                <option value="">권한 선택</option>

                <option value="chief">chief</option>
                <option value="head">head</option>
                <option value="executive">executive</option>
            </select>
        </div>

        <br>

        <button type="submit">전송</button>

    </form>

    </body>
    </html>