<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>국가별송금시필요정보</title>

    <link rel="stylesheet" th:href="@{/css/product/product.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/foreign/studyAbroad.css}">
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="product-layout">

    <div th:replace="~{fragments/foreignSidebar :: foreignSidebar}"></div>

    <main class="product-main">

        <div class="service-container">

            <h1 class="main-title">국가별송금시필요정보</h1>

            <div class="foreign-notice-box">
                <p>
                    저희 은행은 전세계 모든 국가로 해외송금이 가능하며 일부 UN 경제 제재 및
                    OFAC(미국 재무성) 제재 국가 제외, 아래 국가로 송금할 경우에는 유의사항을
                    확인하여 외화송금 신청서 입력하여 주시기 바랍니다.
                </p>
            </div>

            <section class="deposit-section">

                <h2 class="deposit-section-title">용어설명</h2>

                <div class="foreign-content-box">
                    <h4>▪ IBAN의 개요</h4>
                    <p>
                        International Bank Account Number의 약자로서 Euro를 사용하거나
                        EU에 가입되어 있는 국가간의 자금결제시 자동적으로 은행 및 지점을
                        인식하여 해당 고객의 계좌로 입금처리하기 위하여 EU 가입국 협의하에
                        성립된 제도임
                    </p>
                </div>

                <div class="foreign-content-box">
                    <h4>▪ SWIFT CODE 와 BIC의 개요</h4>
                    <p>
                        1. SWIFT CODE : SWIFT 통신망을 사용하고 있는 모든 은행들을
                        인식하기 위한 은행별 인식코드임
                    </p>
                    <p>
                        2. BIC : ISO 9362에 따라 금융기관에 부여하는 코드임
                    </p>
                </div>

            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">아시아(ASIA) 지역</h2>

                <table class="info-table country-info-table">
                    <thead>
                    <tr>
                        <th>국가명</th>
                        <th>유의사항</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>대만</td><td>송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>미얀마</td><td>달러(USD), 유로화(EUR)만 송금이 가능하며, 반드시 창구 영업점을 통하여만 가능합니다.</td></tr>
                    <tr><td>방글라데시</td><td>수취은행의 지점명을 입력하여야 합니다.</td></tr>
                    <tr><td>베트남</td><td>수취은행 지점명은 필수 입력사항입니다.</td></tr>
                    <tr><td>북한</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>사우디아라비아</td><td>계좌번호란에 IBAN CODE(SA포함 24자리)와 수취은행의 SWIFT(BIC) CODE를 입력하여야 합니다.</td></tr>
                    <tr><td>시리아</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>싱가포르</td><td>송금인의 주소(Full Address)와 송금 사유를 입력하여야 합니다.</td></tr>
                    <tr><td>아랍에미리트</td><td>계좌번호란에 IBAN CODE(AE포함 24자리)와 수취은행의 SWIFT(BIC) CODE를 입력하여야 합니다.</td></tr>
                    <tr><td>아프가니스탄</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>이라크</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>이란</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>인도</td><td>수취은행의 지점명 또는 송금 사유를 입력하여야 합니다.</td></tr>
                    <tr><td>인도네시아</td><td class="country-danger">수취은행의 지점명을 입력하여야 하며, 송금시 수취인 정보 오류일 경우 수수료로 공제후 반송됩니다.</td></tr>
                    <tr><td>일본</td><td>송금인의 주소(Full Address)와 수취은행의 지점명 또는 지점코드를 입력하여야 합니다.</td></tr>
                    <tr>
                        <td>중국</td>
                        <td>
                            1) 수취은행의 지점명과 송금인의 주소(Full Address)를 입력하여야 합니다.<br>
                            2) 개인의 중국위안화(CNY)송금은 이용할 경우에만 수취인의 ID번호는 필수 입력사항입니다.<br>
                            3) 중국위안화(CNY) 송금은 기업의 무역거래 등에 한하여 송금이 가능합니다.
                        </td>
                    </tr>
                    <tr><td>파키스탄</td><td>수취은행의 지점명 또는 지점 코드를 입력하여야 합니다.</td></tr>
                    <tr><td>필리핀</td><td>수취은행의 지점명을 입력하여야 합니다.</td></tr>
                    <tr><td>홍콩</td><td>송금인의 주소(Full Address)와 송금 사유를 입력하여야 합니다.</td></tr>
                    </tbody>
                </table>
            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">유럽(EUROPE) 지역</h2>

                <table class="info-table country-info-table">
                    <thead>
                    <tr>
                        <th>국가명</th>
                        <th>유의사항</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>그리스</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(GR포함 27자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>네덜란드</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(NL포함 18자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>노르웨이</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(NO포함 15자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>덴마크</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(DK포함 18자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>독일</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(DE포함 22자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>라트비아</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(LV포함 21자리), 수취은행 SWIFT(BIC) CODE를 입력하여야 합니다.</td></tr>
                    <tr><td>러시아</td><td>수취은행의 지점명과 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>프랑스</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(FR포함 27자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr>
                        <td>영국</td>
                        <td>
                            1) 유로화(EUR)송금시 계좌번호에 IBAN CODE(GB포함 22자리), 수취은행 SWIFT(BIC) CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.<br>
                            2) 유로화 외 통화 송금시 수취은행 SORT CODE와 송금인의 주소(Full Address)를 입력하여야 합니다.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">아메리카(AMERICA) 지역</h2>

                <table class="info-table country-info-table">
                    <thead>
                    <tr>
                        <th>국가명</th>
                        <th>유의사항</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>멕시코</td><td>수취은행의 지점명과 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>미국</td><td>송금시 수취은행 은행 코드(ABA, ROUTING NO)와 송금인의 주소(FULL ADDRESS)를 입력하여야 합니다.</td></tr>
                    <tr><td>브라질</td><td>송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>아르헨티나</td><td>송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>캐나다</td><td>송금시 수취은행 은행 코드와 송금인의 주소(FULL ADDRESS)를 입력하여야 합니다.</td></tr>
                    <tr><td>쿠바</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    </tbody>
                </table>
            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">아프리카(AFRICA) 지역</h2>

                <table class="info-table country-info-table">
                    <thead>
                    <tr>
                        <th>국가명</th>
                        <th>유의사항</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>남아프리카공화국</td><td>송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    <tr><td>르완다</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>리비아</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>모리셔스</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(MU포함 30자리)와 수취은행 SWIFT(BIC) CODE를 입력하여야 합니다.</td></tr>
                    <tr><td>소말리아</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>수단</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>시애라리온</td><td class="country-danger">송금이 불가합니다.</td></tr>
                    <tr><td>튀니지</td><td>유로화(EUR)송금시 계좌번호란에 IBAN CODE(TN포함 24자리)와 수취은행 SWIFT(BIC) CODE를 입력하여야 합니다.</td></tr>
                    </tbody>
                </table>
            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">오세아니아(OCEANIA) 지역</h2>

                <table class="info-table country-info-table">
                    <thead>
                    <tr>
                        <th>국가명</th>
                        <th>유의사항</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>괌</td><td>송금시 수취은행 은행 코드(ABA, ROUTING NO)와 송금인의 주소(FULL ADDRESS)를 입력하여야 합니다.</td></tr>
                    <tr><td>뉴질랜드</td><td class="country-danger">송금인의 주소(Full Address)를 입력하여야 합니다. 최초 송금시 수취인 정보 오류로 변경시 수수료가 청구될 수 있습니다.</td></tr>
                    <tr><td>호주</td><td class="country-danger">송금시 수취은행 은행 코드(BSB NO)와 송금인의 주소(Full Address)를 입력하여야 합니다.</td></tr>
                    </tbody>
                </table>
            </section>

        </div>

    </main>

</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/js/product/foreign.js}"></script>

</body>
</html>