<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/company/companyBody.css}">
</head>
<body>
	<div class="main-layout">
		<div class="sidebar">
			<div class="sidebar__header"></div>
			<div class="sidebar__login"><a href="">LOGIN</a></div>
			<div class="sidebar__nav">
				<a href="">상품</a>
				<a href="">외환 서비스</a>
				<a href="">고객센터</a>
				<a href="">회원 서비스</a>
				<a href="">조회</a>
				<a href="">이체</a>
			</div>
		</div>
		<div class="content-area">
			<div class="quick-menu">
				<div class="quick-item1">
					<a href="" class="item1">
						<div class="item-content">
							<h4>계좌조회</h4>
						</div>
					</a>
				</div>
				<div class="quick-item1">
					<a href="" class="item1">
						<div class="item-content">
							<h4>즉시/예약이체</h4>
						</div>
					</a>
				</div>
				<div class="quick-item1">
					<a href="" class="item1">
						<div class="item-content">
							<h4>결제함</h4>
						</div>
					</a>
				</div>
				<div class="quick-item1">
					<a href="" class="item1">
						<div class="item-content">
							<h4>편리한 금융업무를 시작하세요.<br> 로그인(버튼)</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="banner-section">
				<div class="banner-slider">
					<a href="/" class="slide">배너 1</a>
					<a href="/" class="slide">배너 2</a>
					<a href="/" class="slide">배너 3</a>
				</div>
			</div>
			<div class="service-shortcuts">
				<div class="quick-item2">
					<a href="" class="item2">
						<div class="item-content">
							<h4>빠른조회 서비스</h4>
						</div>
					</a>
				</div>
				<div class="quick-item2">
					<a href="" class="item2">
						<div class="item-content">
							<h4>기업자금 관리 서비스</h4>
						</div>
					</a>
				</div>
				<div class="quick-item2">
					<a href="" class="item2">
						<div class="item-content">
							<h4>전자 결재</h4>
						</div>
					</a>
				</div>
			</div>
			<div class="info-section">
				<div class="quick-item3">
					<a href="" class="item3">
						<div class="item-content">
							<h4>공지사항</h4>
						</div>
					</a>
				</div>
				<div class="quick-item3">
					<a href="" class="item3">
						<div class="item-content">
							<h4>이벤트</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>