<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/fx/fxHome.css}">
<link rel="stylesheet" th:href="@{/css/fx/fxChart.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<script src="/js/fx/fxHome.js"></script>
<body>
	<div th:replace="~{header :: header}"></div>
	<div th:replace="~{fx/fx_body :: body}"></div>
	<div th:replace="~{footer :: footer}"></div>
</body>
</html>