<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BNK 부산은행 외환</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/search/search.css}">
<link rel="stylesheet" th:href="@{/css/product/product.css}">
<link rel="stylesheet" th:href="@{/css/foreign/studyAbroad.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
	<div th:replace="~{header :: header}"></div>
	<div class="product-layout">
		<div th:replace="~{fragments/foreignSidebar :: foreignSidebar}"></div>
		<main class="ae-page"></main>
	</div>
	<div th:replace="~{footer :: footer}"></div>
	<script th:src="@{/js/product/foreign.js}"></script>
	<script th:src="@{/js/zoom.js}"></script>
</body>
</html>
