<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/body.css}">
</head>
<body>
	<div class="container">

		<div class="banner">
			<div>상품 배너</div>
		</div>
		
		<div class="quick_menu">

			<div class="quick_menu_item">

				<div class="item">
				
					<div class="item-icon">
            			<img src="/img/transfer.png" alt="">
        			</div>
					<a href="">조회</a>
					<div class="item-text">
			            <p>계약 조회</p>
			            <p>거래내약 조회</p>
			        </div>
				</div>
				
				<div class="item">
				
					<div class="item-icon">
            			<img src="/img/transfer.png" alt="">
        			</div>
					<a href="">이체</a>
					<div class="item-text">
			            <p>계좌 이체</p>
			            <p>자동이체 관리</p>
			        </div>
				</div>
			</div>

			<div class="quick_menu_item">

				<div class="item">
					<div class="item-icon">
            			<img src="/img/transfer.png" alt="">
        			</div>
					<a href="">환율</a>
					<div class="item-text">
			            <p>환율 조회</p>
			            <p>완전 신청</p>
			        </div>
				</div>
				
				<div class="item">
				
					<div class="item-icon">
            			<img src="/img/transfer.png" alt="">
        			</div>
					<a href="">상품몰</a>
					<div class="item-text">
			            <p>예·적금</p>
			            <p>대출·펀드·보험</p>
			        </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>