<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<footer>
	<div id="bigcontainer">
		<hr style="color: gray">
		<div id="container">
			<a href="*">개인정보처리방침</a>　
			<a href="*">경영공시</a>　
			<a href="*">고객정보취급방침</a>
			<a href="*">상품공시실</a>　
			<a href="*">전자민원접수</a>　
			<a href="*">전자금융이용자보호수칙</a>　
			<a href="*">전자금융사기피해금환급제도</a>　
			<a href="*">위치기반서비스 이용약관</a>
		</div>
		<div id="container2">
			<div>고객상담 1588-6200, 1544-6200</div>
			<div>　|　</div>
			<div>해외 82-2-1588-6200</div>
		</div>
		<div id="container3">
			<div>COPYRIGHT ⓒ 2014 BUSANBANK ALL RIGHTS RESERVED</div>
			<div><select name="select"><option value="site1">FAMILY SITE</option><option value="site2">행복한 BNK</option><option value="site3">부산은행금융역사관</option><option value="site4">BNK부산은행갤러리</option><option value="site5">BNK부산은행조은극장</option><option value="site6">부은동우회</option></select></div>
		</div>
		
	</div>
	
</footer>
</body>
</html>