<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/body.css}">
<link rel="stylesheet" th:href="@{/css/search/search.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<!-- CSS 파일 연결 -->
<link rel="stylesheet" th:href="@{/css/admin/adminLogin.css}">
<title>로그인페이지</title>
</head>
<body>
	<div th:replace="~{header :: header}"></div>

	<!-- 메인 -->
	<div class="main-wrapper">
		<div class="login-card">

			<div class="card-header">
				<div class="icon-wrap">
					<i class="fa-solid fa-right-to-bracket"></i>
				</div>
				<h2>BNK 로그인</h2>
				<p>BNK 부산은행 관리자 포털에 로그인하세요</p>
			</div>

			<!-- 에러 시 표시 (Thymeleaf) -->
			<div class="error-alert" id="error" style="display:none;">
				
			</div>


			<div class="form-group">
				<label for="login_id">아이디</label>
				<div class="input-wrap">
					<i class="fa-solid fa-user"></i> <input type="text" id="login_id"
						name="login_id" placeholder="아이디를 입력하세요" required>
				</div>
			</div>

			<div class="form-group">
				<label for="password">비밀번호</label>
				<div class="input-wrap">
					<i class="fa-solid fa-lock"></i> <input type="password"
						id="password" name="password" placeholder="비밀번호를 입력하세요" required>
				</div>
			</div>

			<button type="button" class="btn-submit" id="login_btn">로그인</button>


			<div class="submit-wrap">
				<p class="submit-notice" style="text-align: center;">
					<a th:href="@{/registerPage}"
						style="text-decoration: none; color: inherit;">개인회원가입</a> | <a
						th:href="@{/companyRegisterPage}"
						style="text-decoration: none; color: inherit;">기업회원가입</a>
				</p>
			</div>

		</div>
	</div>
	<div th:replace="~{footer :: footer}"></div>

	<script th:src="@{/js/zoom.js}"></script>
	<script>
		localStorage.clear(); 
		document.querySelector("#login_btn").addEventListener('click', login);
		
		function login(){
			const id = document.querySelector("#login_id").value;
			const pw = document.querySelector("#password").value;
			
			
			fetch('/loginProc', {
				method: 'post',
				headers:{
					'Content-Type' : 'application/json'
				},
				body: JSON.stringify({
					'login_id' : id,
					'secu_pw' : pw
				})
			})
			.then(response => response.json())
			.then(data => {
				if(data.result === 'sucess'){
					if(data.role === 'user'){
						
						localStorage.setItem('role', data.role)
						localStorage.setItem('name', data.name)
						window.location.href="/index"						
						
					}else if(data.role === 'company'){
						
						localStorage.setItem('role', data.role)
						localStorage.setItem('name', data.name)
						window.location.href="/company/companyMain"						
					}
				}else{
					// 에러 알림창 요소를 찾아서 변수에 저장합니다.
					const errorAlert = document.querySelector("#error");

					// 1. 알림창 안에 텍스트를 삽입합니다.
					errorAlert.innerHTML = '아이디 또는 비밀번호를 다시 확인해주세요.';

					// 2. display: none을 block으로 바꿔서 화면에 보여줍니다.
					errorAlert.style.display = "block";
				}
			})
		}
	</script>
</body>
</html>