<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BNK 부산은행 외환</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/product/product.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/foreign/studyAbroad.css}">
</head>

<body>

<div th:replace="~{header :: header}"></div>

<div class="product-layout">

    <div th:replace="~{fragments/foreignSidebar :: foreignSidebar}"></div>

    <main class="product-main">

        <div class="service-container">

            <h1 class="main-title">수출신용장통지</h1>

            <section class="deposit-section">
                <h2 class="deposit-section-title">개요</h2>

                <p class="deposit-desc">
                    국외 환거래 은행이 개설한 신용장을 개설은행의 요청에 따라
                    부산은행이 신용장 개설 사실을 신용장의 수익자에게 통지하는 것을 말합니다.
                </p>
            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">저희 은행 이용 시 장점</h2>

                <ul class="deposit-list">
                    <li>
                        저희 은행에서는 전세계 각지의 환거래은행(Corres은행)으로부터
                        SWIFT SYSTEM 등으로 수출신용장을 수신하여 고객께서 원하시는
                        저희 은행 어느 영업점에서나 신속∙정확하게 통지하여 드립니다.
                    </li>

                    <li>
                        별도로 전자무역업무 시스템을 이용하시면 은행에 나오실 필요없이
                        업체에서 직접 PC로 수출신용장을 받아 보실 수 있습니다.
                    </li>

                    <li>
                        저희 은행과 거래가 없는 업체도 가까운 영업점에서
                        수출신용장을 교부 받을 수 있습니다.
                    </li>

                    <li>
                        인터넷뱅킹 외환메뉴에서 수출신용장 통지내역을 확인하실 수 있습니다.
                    </li>
                </ul>

                <div class="foreign-btn-wrap">
                    <a href="#" class="foreign-link-btn">
                        수출신용장통지 바로가기
                    </a>
                </div>
            </section>

            <section class="deposit-section">
                <h2 class="deposit-section-title">해외 거래처에 알려줄 저희 은행 정보</h2>

                <p class="deposit-desc">
                    다음과 같이 해외 거래처에 알려주시면 저희 은행을 통하여
                    신용장을 통지 받을 수 있습니다.
                </p>

                <div class="deposit-notice-box">
                    <strong>BUSAN BANK, FOREIGN BUSINESS DEPARTMENT</strong><br>
                    30, MUNHYEONGEUMYUNG-RO, NAM-GU, BUSAN 608-828 KOREA<br>
                    <span class="highlight-red">SWIFT CODE: PUSBKR2P</span>
                </div>
            </section>

        </div>

    </main>

</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/js/product/foreign.js}"></script>

</body>
</html>